services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -b '0.0.0.0'"
    working_dir: /myapp
    volumes:
      - ".:/myapp"
    ports:
      - "3000:3000"
    environment:
      - RAILS_ENV=development
    networks:
      - photoapp_network
    stdin_open: true
    tty: true

networks:
  photoapp_network:
    driver: bridge
